/*TEMA CLARO*/
/*
Gris #F3F8FF
Rosa #E26EE5
Morado #49108B
*/


/*TEMA OSCURO*/
/*
Negro #252525
Morado #6930C3
Verde #80FFDB
*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)),
        url('IMG/FONDO.jpg') no-repeat center center/cover;
    color: #80FFDB;
}